<div id="footer ">
			
				<div class="end">
						<ul class="ul-link te-ul">
							<li class="li-link"><img src="img/zaixian.png"/><b>在线客服</b></li>
							<li><img src="img/tel.png"/><b>400-888-4499</b><span style="display:block;text-align:center;">8:00-24:00</span></li>
							<li><img src="img/tucao.png"/><b>我要吐槽</b></li>
						</ul>
						<ul class="ul-link">
							<li class="li-link">新手入门</li>
							<li><a href="#">购物流程</a></li>
							<li><a href="#">会员等级与升级</a></li>
							<li><a href="#">我的走秀</a></li>
							<li><a href="#">常见问题</a></li>
						</ul>
						<ul class="ul-link">
							<li class="li-link">配送方式</li>
							<li><a href="#">海外配送说明</a></li>
							<li><a href="#">配送运费</a></li>
							<li><a href="#">配送查询</a></li>
						</ul>
						<ul class="ul-link">
							<li class="li-link">支付方式</li>
							<li><a href="#">在线支付</a></li>
							<li><a href="#">货到付款</a></li>
							<li><a href="#">银行汇款</a></li>
						</ul>
						<ul class="ul-link">
							<li class="li-link">售后服务</li>
							<li><a href="#">退换货自助申请</a></li>
							<li><a href="#">退换货政策</a></li>
							<li><a href="#">退换货流程</a></li>
							<li><a href="#">退款说明</a></li>
							<li><a href="#">CEO邮箱</a></li>
						</ul>
						<ul class="ul-link">
							<li class="li-link">走秀微信客服</li>
							<li><img src="img/dimension.png"/></li>
						</ul>
				</div>
				<div class="foot">
				<div class="stern">
					<div class="sternOne">
						<a href="#">关于走秀</a><img src="img/gong.png"/>
					<a href="#">About us</a><img src="img/gong.png"/>
					<a href="#">媒体报道</a><img src="img/gong.png"/>
					<a href="#">品牌招商</a><img src="img/gong.png"/>
					<a href="#">加入走秀</a><img src="img/gong.png"/>
					<a href="#">网站地图</a><img src="img/gong.png"/>
					<a href="#">友情链接</a><img src="img/gong.png"/>
					<a href="#">联系我们</a><img src="img/gong.png"/>
					<a href="#">品牌大全</a><img src="img/gong.png"/>
					<a href="#">邮箱订购</a><img src="img/gong.png"/>
					<a href="#">品牌专题</a><img src="img/gong.png"/>
					<a href="#">WAP站点</a>
					</div>
					<div class="sternTwo">
						<h3><img src="img/feiji.png"/>海外直发</h3>
						<h3><img src="img/pai.png"/>正品保证</h3>
						<h3><img src="img/zhiliang.png"/>退货保障</h3>
					</div>
					<div class="sternThree">
						<a href="#"><img src="img/c_01.jpg"/></a>	
						<a href="#"><img src="img/c_02.jpg"/></a>
						<a href="#"><img src="img/c_03.jpg"/></a>
						<a href="#"><img src="img/c_04.jpg"/></a>
						<a href="#"><img src="img/c_05.jpg"/></a>
						<a href="#"><img src="img/c_06.jpg"/></a>
						<a href="#"><img src="img/c_08.jpg"/></a>
						<a href="#"><img src="img/c_09.jpg"/></a>
						<a href="#"><img src="img/c_10.jpg"/></a>
					</div>
				</div>
			</div>
		</div>